{% extends 'car_dealer_navbar.html' %}
{% block title %} All Car - Dealer {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/all-cars.css' %}">
{% endblock %}

{% block body %}

<section class="all-car">
    <div class="container">
        <h1 class="head">Dealer Car List</h1>
     
            <div class="row mt-4">
                {% for car in cars %}
                <div class="col-sm-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="{{car.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{car.name}}</h5>
                            <div class="location-seat">
                                <h6 class=""><i class="fa-solid fa-location-dot"></i> {{car.location}}</h6>
                                <h6 class="">{{car.capacity}} Seats</h6>
                            </div>

                            <div class="action-btn">
                                <a href="{% url 'updateCar' car.id %}" class="btn">Update</a>

                                <a href="/delete_car/{{car.id}}/" class="btn"
                           onclick="return confirm('Are you sure you want to delete {{car.name}}?')">Delete</a>

                           
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
       
  
    </div>
</section>

{% endblock %}
