{% extends 'customer_navbar.html' %}
{% block title %} Search Cars {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/customer-homepage.css' %}">
{% endblock %}

{% block body %}
<br>
<section class="customer-home">
    <div class="container ">
        <div class="customer-card">
        
                <h2 class="head">Welcome to Online Car Rental</h2>
                <p class="">You can enter your city below and see the list of available cars.</p>
   
            <form class="w3-container" method="POST">
                {% csrf_token %}
                <br>
                <lable>Enter City Name : </lable>
                <select name="city">
                    <option value="0">-- Select City --</option>
                    {% for l in l %}
                    <option value="{{l.city}}">{{l.city}}</option>
                    {% endfor %}
                </select>
              
                <button class="btn" type="submit">Search Cars</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}