.all-car{
    margin-top: 100px;
}
.all-car .head{
    text-align: center;
    font-family: var(--poppins);
    font-size: 40px;
}
.all-car .card img{
    height: 200px;
    width: 100%;
}
.all-car .card h5{
    font-family: var(--montserrat);
}
.all-car .card h6{
    font-family: var(--montserrat);
}
.all-car .card p{
    font-family: var(--montserrat);
}
.all-car .card .btn{
    font-family: var(--montserrat);
    text-align: center;
    color: var(--white-color);
    width: 48%;
    margin-top: 10px;
    background-color: var(--main-color);
}
.action-btn{
    display: flex;
    justify-content: space-between;
}
.all-car .card .location-seat{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}