.customer-signup{
    margin-top: 150px;
}

.sign-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.customer-signup .card .signup-btn {
    background-color: var(--main-color);
    color: var(--white-color);
    width: 100%;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 16px;
    /* border-radius: 50px; */
    letter-spacing: 1px;
    box-shadow: 0 0 0 0 !important;
}
.customer-signup .card .signup-btn:hover {
    box-shadow: 0 !important;
}

.sign-form .place-user,
.sign-form .place-email,
.sign-form .place-phone,
.sign-form .place-pass,
.sign-form .place-city,
.sign-form .place-cpass {
    position: absolute;
    font-family: var(--montserrat);
    top: -9px;
    padding: 0 5px;
    font-size: 12px;
    left: 19px;
    background-color: var(--white-color);
}

.sign-form .user,
.sign-form .email,
.sign-form .phone,
.sign-form .pass,
.sign-form .city,
.sign-form .confirm-pass
/* .sign-form .user, */

    {
    position: relative;
    margin-bottom: 25px;
}

.sign-form input {
    /* padding-top: 10px; */
    font-family: var(--montserrat);
    font-size: 15px;
    padding: 10px 10px 6px 10px;
    /* border: 1px solid black; */
}

.sign-form .have-ac {
    margin-top: 13px;
    font-family: var(--montserrat);
    font-size: 14px;
}

.sign-form a {
    text-decoration: none;
}

.sign-form h2 {
    margin-bottom: 30px;
    font-family: var(--poppins);
    font-size: 25px;
}